<h3>Login</h3>

<div class="alert alert-danger" [hidden]="!error">
	There was a problem logging in. Please try again.
</div>

<div [hidden]="success" style="width: 400px;">
  <form #credential (ngSubmit)="login(credential.email.value, credential.password.value)">
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" id="email" required name="email">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" id="password" required name="password">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!success">
  <h4>You submitted successfully!</h4>
</div>
